@charset "ISO-8859-1";

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Stile di base per il corpo della pagina */
body {
  font-family: 'Arial', sans-serif;
  background-image: url('/images/sfondo.jpg');
}

/* Stile per l'header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Stile per la navbar */
nav {
  background-color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav p{
	display: block;
  color: #82dbfd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #777;
}

/* Stile per il footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logout{
	color: #82dbfd;
}
