<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-templates}">
<head>
<meta charset="UTF-8">
<title>Crea Quiz</title>
<link th:href="@{/css/inserimento.css}" rel="stylesheet">
</head>
<body>
  
    <div class="col-lg-4" layout:fragment="body">
    <div class="label-group">
    <h2 class="lg"> Crea un quiz </h2>
    <br>
    <label> Inserisci Domanda </label> <br>
    <input type="text" required id="d1" class="textfield" placeholder=" es: Miglior Macchina?">
    <br><br> 
     <label> Inserisci Risposte </label> <br>
     <div class="radio-group">
         <input type="text" required id="r1" class="textfield" placeholder=" es: Ferrari"> <input type="radio" checked name="radio" value="1"> <br>
	     <input type="text" required id="r2" class="textfield" placeholder=" es: Lamborghini"> <input type="radio" name="radio" value="2"> <br>
		 <input type="text" required id="r3" class="textfield" placeholder=" es: Porsche"> <input type="radio" name="radio" value="3"> <br>
	     <input type="text" required id="r4" class="textfield" placeholder=" es: Bugatti"> <input type="radio" name="radio" value="4"> <br>
	  </div>
	 </div>
			  <button id="salva" type="submit">Salva</button> <br> <br>
			   <label class="label-group"> (Nota: puoi scegliere quale deve essere la risposta corretta 
			                selezionando la check rispettiva alla risposta) </label> <br>      
    <script th:src="@{/js/inserisci.js}"></script>
    </div>
</body>
</html>